name: dailyreport

on: 
  [push]

jobs:
  build-windows:
    runs-on: windows-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Setup Edge
      uses: browser-actions/setup-edge@v0.0.0
    - name: install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install selenium
        pip install requests
    - name: do report
      run: |
        python ./dailyreport.py
        
